<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home • Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body onload="home.initialise();">
  <!-- <div>
    <h1>Send Email to Newsletter Subscribers</h1>
    <input type="text" name="newsletterEmailGroup" id="newsletter-email-group" placeholder="Group">
    <input type="text" name="newsletterEmailSubject" id="newsletter-email-subject" placeholder="Subject">
    <textarea name="newsletterEmailBody" id="newsletter-email-body" cols="60" rows="20" placeholder="Body"></textarea>
    <button id="newsletter-email-submit">Send Newsletter</button>
  </div>
  <div>
    <h1>Send Email to Educators</h1>
    <input type="text" name="educatorEmailSubject" id="educator-email-subject" placeholder="Subject">
    <textarea name="educatorEmailBody" id="educator-email-body" cols="60" rows="20" placeholder="Body"></textarea>
    <button id="educator-email-submit">Send Email to Educators</button>
  </div>-->
  <nav class="container m-5">
    <a class="btn btn-primary m-3" href="/" role="button" style="pointer-events: none">Home</a>
    <a class="btn btn-link m-3" href="/dashboard" role="button">Dashboard</a>
    <a class="btn btn-link m-3" href="/temp" role="button">Temp</a>
    <a class="btn btn-secondary m-3" href="/logout" role="button">Logout</a>
  </nav>
  <div class="container m-5">
    <h3 class="m-3">Update and Schedule Cold Emails</h3>
    <button type="button" class="btn btn-primary m-3" onclick="home.updateColdEmails(this);">Update and Schedule Cold Emails</button>
  </div>
  <div class="container m-5">
    <h3 class="m-3">Unverified Groups</h3>
    <table id="unverified-group-list" class="table m-3"></table>
  </div>

  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <script async src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- ------------------------CUSTOM------------------------ -->
  <script async src="/public/javascripts/home.js"></script>
</body>
</html>