<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Console • Admin</title>
</head>
<body onload="home.initialise();">
  <!-- <div>
    <h1>Send Email to Newsletter Subscribers</h1>
    <input type="text" name="newsletterEmailGroup" id="newsletter-email-group" placeholder="Group">
    <input type="text" name="newsletterEmailSubject" id="newsletter-email-subject" placeholder="Subject">
    <textarea name="newsletterEmailBody" id="newsletter-email-body" cols="60" rows="20" placeholder="Body"></textarea>
    <button id="newsletter-email-submit">Send Newsletter</button>
  </div>
  <div>
    <h1>Send Email to Educators</h1>
    <input type="text" name="educatorEmailSubject" id="educator-email-subject" placeholder="Subject">
    <textarea name="educatorEmailBody" id="educator-email-body" cols="60" rows="20" placeholder="Body"></textarea>
    <button id="educator-email-submit">Send Email to Educators</button>
  </div>
  <div>
    <h1>Fetch Schools</h1>
    <button id="fetch-schools">Fetch Schools</button>
  </div>
  <div>
    <h1>Refactor</h1>
    <button id="refactor">Refactor</button>
  </div> -->
  <div>
    <h1>Update Cold Emails</h1>
    <button id="update-cold-emails">Update Cold Emails</button>
  </div>
  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <script async src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- ------------------------CUSTOM------------------------ -->
  <script async src="/public/javascripts/home.js"></script>
</body>
</html>