<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wallet • Admin • CreateBase</title>
</head>

<body>
  <form id="bank-transfer">
    <input type="number" name="code" id="bank-transfer-code">
    <input type="number" name="amount" id="bank-transfer-amount">
  </form>
  <button id="bank-transfer-button" onclick="wallet.bankTransfer();">Bank Transfer</button>

  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <script async src="https://js.stripe.com/v3/"></script>
  <script async src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- ------------------------CUSTOM------------------------ -->
  <script async src="/public/javascripts/wallet.js"></script>
</body>

</html>